<header>
  <div class="d-flex align-items-center gap-3">
    <img src="/images/logo.png" width="64" height="64" alt="img icon" />
    <nav>
      <a href="/">Home Page</a>
    </nav>
  </div>
</header>
