<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('partials/head') %>

  <body>
    <div>
      <!-- Your header here -->
      <%- include('partials/header') %>

      <!-- Main content -->
      <main>
        <div>
          <img src="https://picsum.photos/id/63/200/300" height="450" alt="mealImg" />
          <section>
            <h1>Meal Name</h1>
            <span> Time of Day - Meal Type </span>
          </section>
        </div>

        <!-- Back button here -->
        <button type="button" id="btn-back">Back</button>
      </main>
    </div>

    <%- include('partials/foot') %>
  </body>
</html>
